/* Customize bootstrap classes */
.dropdown-menu {
  margin: 0.125rem 1rem 0 !important;
}

.text-primary {
  color: #663399 !important;
}

.text-success {
  color: #4caf50 !important;
}

.text-warning {
  color: #ffc107 !important;
}

.text-info {
  color: #003473 !important;
}

.text-danger {
  color: #f44336 !important;
}

.badge-primary {
  color: #ffffff !important;
  background-color: #663399 !important;
}

.dropdown-item.active, .dropdown-item:active {
  background-color: unset !important;
}

.card {
  -webkit-box-shadow: 0 4px 20px 1px rgba(0, 0, 0, 0.06), 0 1px 4px rgba(0, 0, 0, 0.08) !important;
          box-shadow: 0 4px 20px 1px rgba(0, 0, 0, 0.06), 0 1px 4px rgba(0, 0, 0, 0.08) !important;
}

.badge-success {
  background-color: #4caf50 !important;
}

.badge-warning {
  background-color: #ffc107 !important;
}

.badge-info {
  background-color: #003473 !important;
}

.rounded {
  border-radius: 5rem !important;
}

/* Primary button edit */
.btn-outline-primary {
  color: #663399 !important;
  border-color: #663399 !important;
}

.btn-primary {
  border-color: #663399 !important;
  background: #663399 !important;
}

.btn-primary:hover, .btn-outline-primary:hover, .btn-primary:active, .btn-outline-primary:active {
  color: #ffffff !important;
  background: #663399 !important;
  border-color: #663399 !important;
  -webkit-box-shadow: 0 8px 25px -8px #663399 !important;
          box-shadow: 0 8px 25px -8px #663399 !important;
}

.btn-primary:focus, .btn-outline-primary:focus {
  color: #ffffff !important;
  background: #663399 !important;
  -webkit-box-shadow: 0 8px 25px -8px #663399 !important;
          box-shadow: 0 8px 25px -8px #663399 !important;
}

.btn-primary:active:focus, .btn-outline-primary:active:focus {
  color: #ffffff !important;
  border-color: #663399 !important;
  background: #663399 !important;
  -webkit-box-shadow: 0 0 0 0.2rem #c3a1e4 !important;
          box-shadow: 0 0 0 0.2rem #c3a1e4 !important;
}

.btn-outline-primary:focus {
  color: #663399 !important;
  background: unset !important;
}

.btn-primary:active, .btn-outline-primary:active {
  -webkit-box-shadow: 0 0 0 0.2rem #c3a1e4 !important;
          box-shadow: 0 0 0 0.2rem #c3a1e4 !important;
}

/* Success button edit */
.btn-outline-success {
  color: #4caf50 !important;
  border-color: #4caf50 !important;
}

.btn-success {
  border-color: #4caf50 !important;
  background: #4caf50 !important;
}

.btn-success:hover, .btn-outline-success:hover, .btn-success:active, .btn-outline-success:active {
  color: #ffffff !important;
  background: #4caf50 !important;
  border-color: #4caf50 !important;
  -webkit-box-shadow: 0 8px 25px -8px #4caf50 !important;
          box-shadow: 0 8px 25px -8px #4caf50 !important;
}

.btn-success:focus, .btn-outline-success:focus {
  color: #ffffff !important;
  background: #4caf50 !important;
  -webkit-box-shadow: 0 8px 25px -8px #4caf50 !important;
          box-shadow: 0 8px 25px -8px #4caf50 !important;
}

.btn-success:active:focus, .btn-outline-success:active:focus {
  color: #ffffff !important;
  border-color: #4caf50 !important;
  background: #4caf50 !important;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(76, 175, 80, 0.5) !important;
          box-shadow: 0 0 0 0.2rem rgba(76, 175, 80, 0.5) !important;
}

.btn-outline-success:focus {
  color: #4caf50 !important;
  background: unset !important;
}

.btn-success:active, .btn-outline-success:active {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(76, 175, 80, 0.5) !important;
          box-shadow: 0 0 0 0.2rem rgba(76, 175, 80, 0.5) !important;
}

/* Danger button edit */
.btn-outline-danger {
  color: #f44336 !important;
  border-color: #f44336 !important;
}

.btn-danger {
  border-color: #f44336 !important;
  background: #f44336 !important;
}

.btn-danger:hover, .btn-outline-danger:hover, .btn-danger:active, .btn-outline-danger:active {
  color: #ffffff !important;
  background: #f44336 !important;
  border-color: #f44336 !important;
  -webkit-box-shadow: 0 8px 25px -8px #f44336 !important;
          box-shadow: 0 8px 25px -8px #f44336 !important;
}

.btn-danger:focus, .btn-outline-danger:focus {
  color: #ffffff !important;
  background: #f44336 !important;
  -webkit-box-shadow: 0 8px 25px -8px #f44336 !important;
          box-shadow: 0 8px 25px -8px #f44336 !important;
}

.btn-danger:active:focus, .btn-outline-danger:active:focus {
  color: #ffffff !important;
  background: #f44336 !important;
  border-color: #f44336 !important;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(244, 67, 54, 0.5) !important;
          box-shadow: 0 0 0 0.2rem rgba(244, 67, 54, 0.5) !important;
}

.btn-outline-danger:focus {
  color: #f44336 !important;
  background: unset !important;
}

.btn-danger:active, .btn-outline-danger:active {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(244, 67, 54, 0.5) !important;
          box-shadow: 0 0 0 0.2rem rgba(244, 67, 54, 0.5) !important;
}

/* Warning button edit */
.btn-outline-warning {
  color: #ffc107 !important;
  border-color: #ffc107 !important;
}

.btn-warning {
  border-color: #ffc107 !important;
  background: #ffc107 !important;
}

.btn-warning:hover, .btn-outline-warning:hover, .btn-warning:active, .btn-outline-warning:active {
  background: #ffc107 !important;
  border-color: #ffc107 !important;
  -webkit-box-shadow: 0 8px 25px -8px #ffc107 !important;
          box-shadow: 0 8px 25px -8px #ffc107 !important;
}

.btn-outline-warning:hover, .btn-outline-warning:active {
  color: #ffffff !important;
}

.btn-warning:focus, .btn-outline-warning:focus {
  background: #ffc107 !important;
  -webkit-box-shadow: 0 8px 25px -8px #ffc107 !important;
          box-shadow: 0 8px 25px -8px #ffc107 !important;
}

.btn-warning:active:focus, .btn-outline-warning:active:focus {
  background: #ffc107 !important;
  border-color: #ffc107 !important;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5) !important;
          box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5) !important;
}

.btn-outline-warning:active:focus {
  color: #212529 !important;
}

.btn-outline-warning:focus {
  color: #ffc107 !important;
  background: unset !important;
}

.btn-warning:active, .btn-outline-warning:active {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5) !important;
          box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5) !important;
}

/* Info button edit */
.btn-outline-info {
  color: #003473 !important;
  border-color: #003473 !important;
}

.btn-info {
  border-color: #003473 !important;
  background: #003473 !important;
}

.btn-info:hover, .btn-outline-info:hover, .btn-info:active, .btn-outline-info:active {
  color: #ffffff !important;
  background: #003473 !important;
  border-color: #003473 !important;
  -webkit-box-shadow: 0 8px 25px -8px #003473 !important;
          box-shadow: 0 8px 25px -8px #003473 !important;
}

.btn-info:focus, .btn-outline-info:focus {
  color: #ffffff !important;
  background: #003473 !important;
  -webkit-box-shadow: 0 8px 25px -8px #003473 !important;
          box-shadow: 0 8px 25px -8px #003473 !important;
}

.btn-info:active:focus, .btn-outline-info:active:focus {
  color: #ffffff !important;
  background: #003473 !important;
  border-color: #003473 !important;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 52, 115, 0.5) !important;
          box-shadow: 0 0 0 0.2rem rgba(0, 52, 115, 0.5) !important;
}

.btn-outline-info:focus {
  color: #003473 !important;
  background: unset !important;
}

.btn-info:active, .btn-outline-info:active {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 52, 115, 0.5) !important;
          box-shadow: 0 0 0 0.2rem rgba(0, 52, 115, 0.5) !important;
}

/* Light button edit */
.btn-outline-light {
  color: #bbb !important;
  border-color: #bbb !important;
}

.btn-light {
  border-color: #bbb !important;
  background: #bbb !important;
}

.btn-light:hover, .btn-outline-light:hover, .btn-light:active, .btn-outline-light:active {
  color: #47404f !important;
  background: #bbb !important;
  border-color: #bbb !important;
  -webkit-box-shadow: 0 8px 25px -8px #bbb !important;
          box-shadow: 0 8px 25px -8px #bbb !important;
}

.btn-light:focus, .btn-outline-light:focus {
  color: #47404f !important;
  background: #bbb !important;
  -webkit-box-shadow: 0 8px 25px -8px #bbb !important;
          box-shadow: 0 8px 25px -8px #bbb !important;
}

.btn-light:active:focus, .btn-outline-light:active:focus {
  color: #47404f !important;
  background: #bbb !important;
  border-color: #bbb !important;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(187, 187, 187, 0.5) !important;
          box-shadow: 0 0 0 0.2rem rgba(187, 187, 187, 0.5) !important;
}

.btn-outline-light:focus {
  color: #47404f !important;
  background: unset !important;
}

.btn-light:active, .btn-outline-light:active {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(187, 187, 187, 0.5) !important;
          box-shadow: 0 0 0 0.2rem rgba(187, 187, 187, 0.5) !important;
}

/* Dark button edit */
.btn-outline-dark {
  color: #343a40 !important;
  border-color: #343a40 !important;
}

.btn-dark {
  border-color: #343a40 !important;
  background: #343a40 !important;
}

.btn-dark:hover, .btn-outline-dark:hover, .btn-dark:active, .btn-outline-dark:active {
  color: #ffffff !important;
  background: #343a40 !important;
  border-color: #343a40 !important;
  -webkit-box-shadow: 0 8px 25px -8px #343a40 !important;
          box-shadow: 0 8px 25px -8px #343a40 !important;
}

.btn-dark:focus, .btn-outline-dark:focus {
  color: #ffffff !important;
  background: #343a40 !important;
  -webkit-box-shadow: 0 8px 25px -8px #343a40 !important;
          box-shadow: 0 8px 25px -8px #343a40 !important;
}

.btn-dark:active:focus, .btn-outline-dark:active:focus {
  color: #ffffff !important;
  background: #343a40 !important;
  border-color: #343a40 !important;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(71, 64, 79, 0.5) !important;
          box-shadow: 0 0 0 0.2rem rgba(71, 64, 79, 0.5) !important;
}

.btn-outline-dark:focus {
  color: #47404f !important;
  background: unset !important;
}

.btn-dark:active, .btn-outline-dark:active {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(71, 64, 79, 0.5) !important;
          box-shadow: 0 0 0 0.2rem rgba(71, 64, 79, 0.5) !important;
}

/* Button raised */
.btn-raised, .btn-raised:active:focus, .btn-raised:hover, .btn-raised:focus {
  -webkit-box-shadow: unset !important;
          box-shadow: unset !important;
}

.alert {
  border-radius: 0.8rem !important;
}

.alert-primary {
  background: #E0D6EB !important;
  color: #351b50 !important;
  border-color: #d4c6e2 !important;
}

.alert-success {
  background: #dbefdc !important;
  color: #285b2a !important;
  border-color: #cde9ce !important;
}

.alert-info {
  background: #ccd6e3 !important;
  color: #001b3c !important;
  border-color: #b8c6d8 !important;
}

.alert-warning {
  background: #fff3cd !important;
  color: #856404 !important;
  border-color: #ffeeba !important;
}

.alert-danger {
  background: #fdd9d7 !important;
  color: #7f231c !important;
  border-color: #fccac7 !important;
}

button.close {
  position: absolute;
  top: 0;
  right: 0.5rem;
}

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  font-family: 'Open Sans', sans-serif;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important;
}

/*
  * Hide only visually, but have it available for screen readers:
  * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
  *
  * 1. For long content, line feeds are not interpreted as spaces and small width
  *    causes content to wrap 1 word per line:
  *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
  */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  /* 1 */
}

/*
  * Extends the .visuallyhidden class to allow the element
  * to be focusable when navigated to via the keyboard:
  * https://www.drupal.org/node/897638
  */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
  * Hide visually and from screen readers, but maintain layout
  */
.invisible {
  visibility: hidden;
}

/*
  * Clearfix: contain floats
  *
  * For modern browsers
  * 1. The space content is one way to avoid an Opera bug when the
  *    `contenteditable` attribute is included anywhere else in the document.
  *    Otherwise it causes space to appear at the top and bottom of elements
  *    that receive the `clearfix` class.
  * 2. The use of `table` rather than `block` is only necessary if using
  *    `:before` to contain the top-margins of child elements.
  */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

/* Custom classes */
.page-active {
  filter: blur(8px);
  -webkit-filter: blur(8px);
  -webkit-transition: all ease 0.5s !important;
  transition: all ease 0.5s !important;
}

.body-active {
  overflow: hidden;
}

.w-15 {
  width: 15% !important;
}

.w-10 {
  width: 10% !important;
}

.clear {
  overflow: hidden !important;
}

.border-radius-none {
  border-radius: unset !important;
}

.d-contents {
  display: contents !important;
}

.dropdown-menu-max-height {
  max-height: 15rem !important;
  overflow: auto !important;
}

.img-round {
  -o-object-fit: cover !important;
     object-fit: cover !important;
  -o-object-position: center !important;
     object-position: center !important;
  border-radius: 50% !important;
}

.rounded-lg {
  border-radius: 0.6rem !important;
}

.dropdown-arow-none > .dropdown-toggle:after, .dropdown-arow-none > .dropdown-toggle:before {
  content: unset !important;
}

/* Text color */
.text-secondary-light {
  color: #6c757d !important;
}

.card-icon-bg-primary {
  color: rgba(102, 51, 153, 0.28);
}

.text-muted {
  color: #70657b !important;
}

/*Background */
.bg-primary-c {
  background: #6B5CAB !important;
}

.alert-card {
  border: unset !important;
  -webkit-box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.1), inset 0 2px 0 0 #ced4da;
          box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.1), inset 0 2px 0 0 #ced4da;
}

.alert-card.alert-primary {
  -webkit-box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.1), inset 0 2px 0 0 #663399 !important;
          box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.1), inset 0 2px 0 0 #663399 !important;
}

.alert-card.alert-success {
  -webkit-box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.1), inset 0 2px 0 0 #4caf50 !important;
          box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.1), inset 0 2px 0 0 #4caf50 !important;
}

.alert-card.alert-info {
  -webkit-box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.1), inset 0 2px 0 0 #003473 !important;
          box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.1), inset 0 2px 0 0 #003473 !important;
}

.alert-card.alert-warning {
  -webkit-box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.1), inset 0 2px 0 0 #ffc107 !important;
          box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.1), inset 0 2px 0 0 #ffc107 !important;
}

.alert-card.alert-danger {
  -webkit-box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.1), inset 0 2px 0 0 #f44336 !important;
          box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.1), inset 0 2px 0 0 #f44336 !important;
}

/* The sidebar */
.side-bar {
  height: 100vh !important;
  width: 17rem !important;
  visibility: hidden;
  position: fixed !important;
  left: -100rem;
  top: 4rem;
  -webkit-box-shadow: 0 4px 20px 1px rgba(0, 0, 0, 0.06), 0 1px 4px rgba(0, 0, 0, 0.08);
          box-shadow: 0 4px 20px 1px rgba(0, 0, 0, 0.06), 0 1px 4px rgba(0, 0, 0, 0.08);
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  z-index: 99;
}

.side-bar-active {
  visibility: visible;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  left: 0;
  overflow: auto;
}

.brand-img {
  width: 20%;
}

.brand-name {
  font-size: 1.5rem;
}

.side-menu-heading {
  color: #ffffff !important;
  border-bottom: 1px solid #ffffff !important;
}

.the_menu {
  padding-bottom: 5rem !important;
}

.side-menu {
  list-style: none !important;
}

.side-menu .side-menu-item:hover {
  background: #43309b !important;
}

.side-menu .side-menu-item a, .side-menu .side-sub-menu-item a, .side-sub-menu .side-menu-item a, .side-sub-menu .side-sub-menu-item a {
  display: block;
  color: #ffffff !important;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  position: relative !important;
}

.side-menu .side-menu-item a::after {
  content: "";
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  border: 2px solid #ffffff;
  position: absolute;
  top: 1.5rem;
  left: 0;
}

.side-menu-item a:hover {
  padding-left: 2rem !important;
}

.side-sub-menu {
  list-style: none;
}

.side-sub-menu .side-sub-menu-item a {
  border-left: 2px solid #43309b !important;
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
}

.side-sub-menu .side-sub-menu-item a:hover {
  border-color: #ffffff !important;
}

.sub-menu-parent {
  position: relative !important;
}

.sub-menu-parent::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f107";
  color: #ffffff;
  position: absolute;
  top: 1rem;
  right: 0;
}

/* Navber section */
.navbar-brand {
  cursor: pointer;
}

.navbar-brand span {
  height: 1px;
  background: #6c757d !important;
  width: 30px;
  display: block;
  margin-bottom: 6px;
}

.navbar-brand span:nth-child(2n) {
  height: 3px;
}

.profile-avatar {
  width: 50%;
  border-radius: 50%;
}

.search-round input {
  background: transparent;
  border-radius: 25px 0 0 25px !important;
}

.search-round .input-group-append button {
  border-radius: 0 25px 25px 0 !important;
}

/* Notification badge */
.notification-badge {
  top: -0.2rem;
  right: 0.7rem;
  border-radius: 2rem;
}

/* Dropdown menu notification area */
.notification-icon {
  background: #EEEEEE !important;
  min-width: 4rem !important;
  width: 4rem !important;
  text-align: center !important;
}

/* Main section */
main {
  width: 100% !important;
  float: right;
  min-height: 1500px;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 576px) {
  button.close {
    position: unset;
  }
}

@media only screen and (min-width: 768px) {
  .page-active {
    filter: unset;
    -webkit-filter: unset;
  }
  .body-active {
    overflow: unset;
  }
  .side-bar {
    height: 100vh !important;
    width: 17rem !important;
    visibility: unset;
    left: 0;
    top: 0;
  }
  main {
    width: calc( 100% - 70px - 200px) !important;
  }
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
a {
  text-decoration: none !important;
}

p {
  font-size: 0.9rem !important;
}

img {
  -o-object-fit: contain !important;
     object-fit: contain !important;
  -o-object-position: center !important;
     object-position: center !important;
}
/*# sourceMappingURL=main.css.map */