// Color variable
    // Text
$text-secondary-light : #6c757d;
$secondary : #52495a;
$text-muted : #70657b;
$dark : #343a40;
$dark-shadow : rgba(71,64,79,.5);

$white : #ffffff;
$light : #bbb;

$btn-light-text : #47404f;
$light-shadow : hsla(0,0%,73.3%,.5);

$primary : #663399;
$primary-shadow : #c3a1e4;
$alert-primary-bg : #E0D6EB;
$alert-primary-border: #d4c6e2;
$alert-primary-text : #351b50;

$success : #4caf50;
$success-shadow : rgba(76,175,80,.5);
$alert-success-bg : #dbefdc;
$alert-success-border: #cde9ce;
$alert-success-text : #285b2a;

$warning : #ffc107;
$warning-shadow : rgba(255,193,7,.5);
$alert-warning-bg : #fff3cd;
$alert-warning-border: #ffeeba;
$alert-warning-text : #856404;

$info : #003473;
$info-shadow : rgba(0,52,115,.5);
$alert-info-bg : #ccd6e3;
$alert-info-border: #b8c6d8;
$alert-info-text : #001b3c;

$danger : #f44336;
$danger-shadow : rgba(244,67,54,.5);
$alert-danger-bg : #fdd9d7;
$alert-danger-border: #fccac7;
$alert-danger-text : #7f231c;

$notification-icon : #EEEEEE;
    // Background
$card-icon-bg-primary : rgba(102, 51, 153, 0.28);
$bg-primary-c : #6B5CAB;
$side-menu: rgb(67, 48, 155);
